<div id="filter-form">
  <%= form_for(@filter) do |f| %>
    <div class="field row">
      <div class="columns">
        <div class="filter-search">
          <ul class="inline-list">
            <li>
              <%= f.label :search_term %>
              <div><%= f.text_field :search_term, autofocus: true, placeholder: 'Search Term', :id => 'query' %></div>
            </li>
            <li>
              <%= f.label :max_price %>
              <div><%= f.text_field :max_price, placeholder: 'Max Price', :id => 'price' %></div>
            </li>
            <li>
              <%= f.label :ending_time %>
              <div><%= f.text_field :ending_time, placeholder: 'Ending Time', :id => 'end-time' %></div>
            </li>
            <li>
              <%= f.label :ending_time_unit %>
              <div><%= f.select :ending_time_unit, [['Minutes','minutes'], ['Hours', 'hours'], ['Days', 'days']], {}, :id => 'end-unit' %></div>
            </li>
            <li>
              <%= f.label :sort_by %>
              <div><%= f.select :sort_by, [['Best Match', 'BestMatch'], ['Ending Soonest', 'EndTimeSoonest'], ['Ending Last', 'StartTimeNewest'], ['Lowest Price', 'PricePlusShippingLowest'], ['Highest Price', 'PricePlusShippingHighest']], {}, :id => 'sort' %></div>
            </li>
            <li>
                <%= submit_tag "Save", class: 'button' %>
            </li>
          </ul>
        </div>
      </div>
  <% end %>
</div>
